!.gitignore
\.*/
log/
webesptool/data*
webesptool/meshcore
*.pyc
claude_code_zai_env.sh
frontend/static/radio.webp
webesptool/static/radio2.webp
docker-compose_fr_dev.yml
plans/
temp/
docs/
docs/tasks/
# News database
webesptool/db/news.db*
webesptool/db/
