services:
  webesptool:
    build: webesptool/
    restart: unless-stopped
    environment:
      - ROOT_PATH=/flasher
    volumes:
      - ./webesptool/log:/home/webesptool/log
      - /home/user/meshfw:/home/webesptool/data
    ports:
      - 8000:8000
