
h2 {
    margin-top: 0.5em;
}

h3 {
    margin-top: 0.5em;
}

a {
    color: #03a9f4;
}

.header-text {
    text-align: center;
}

.div2 {
    margin: 0 !important;
    padding: 0.5rem !important;
}

.invisible {
    visibility: inherit !important;
 /*   opacity: 0.6;
    cursor: not-allowed;*/
    display: none;
}

.button-row {
    margin-top: 0.3em !important;
}

.hidden {
    display: none;
}

esp-web-install-button[install-unsupported] {
    visibility: inherit;
    opacity: 0.6;
    cursor: not-allowed;
}

.content pre {
    max-width: 100%;
    overflow-y: scroll;
}

.footer {
    margin-top: 24px;
    border-top: 1px solid #ccc;
    padding-top: 24px;
    text-align: center;
}

.footer .initiative {
    font-style: italic;
    margin-top: 16px;
}

table {
    border-spacing: 0;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.radios li {
    list-style: none;
    line-height: 2em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #615353;
        color: #fff;
    }

    a {
        color: #58a6ff;
    }
}

.bg-dark {
    background-color: #615353 !important; }

.border-orange {
    border: 1px dotted #d8690e !important;
    border-radius: 0.8rem !important; }

:root {
    --esp-tools-button-color: #6b6b6b;
    --esp-tools-button-border-radius: 0%;
}

button-row-c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
    flex: 1;
  }